form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem 1rem 0.5rem;
}

form legend{
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    padding: 5px;
    background-color:white;
    box-shadow: 0 0 0.5rem black;
}

form fieldset{
    width: 400px;
    border:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    background-color:white;
    padding: 20px;
    box-shadow: 0 0 0.5rem black;
}

fieldset input, fieldset select{
    margin-left: auto;
    margin-right:auto;
}

fieldset button{
    margin-left: auto;
    margin-right:auto;
    background: rgb(133, 36, 153);
    color: white;
    padding:10px 30px 10px 30px;
    margin-top: 0.5rem;
    border-radius: 0%;
    border: 0px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

fieldset button:hover{
    margin-left: auto;
    margin-right:auto;
    background: rgb(91, 25, 104);
    color: white;
    padding:10px 40px 10px 40px;
    margin-top: 0.5rem;
    border-radius: 0%;
    border: 0px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.error {
    color: #db2269;
    font-size: small;
}